.authContainer {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #63a4ff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: #edf1ff;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #003d80;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ccccff;
}

.authLink {
  cursor: pointer;
  font: inherit;
  color: #003d80;
  text-decoration: none;
  font-size: 1.4rem;
}

h3 {
  color: #003d80;
  text-indent: 5%;
  font-size: 2.2rem;
}
