.header {
  width: 100%;
  height: 6.5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-around;
  align-items: center;
  background-color: #63a4ff;
}

.logo {
  justify-content: left;
  font-size: 2.3rem;
  font-weight: bolder;
  color: #edf1ff;
  text-shadow: 2px 2px 5px #003d80;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav li {
  margin-left: 1rem;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: #003d80;
  text-shadow: 2px 2px 5px #e6fcfc;
  text-align: center;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
  text-shadow: 2px 2px 5px #003d80;
  font-size: 1.3rem;
}

.greeting,
.navLink {
  font-size: 1.2rem;
  color: #edf1ff;
  text-shadow: 2px 2px 4px #003d80;
}

.authButton {
  justify-content: right;
  font-weight: bolder;
  color: #edf1ff;
  text-shadow: 2px 2px 5px #003d80;
}

@media screen and (max-width: 1600px) {
  nav {
    text-align: center;
  }
}

@media screen and (max-width: 1520px) {
  .logo {
    font-size: 1.6rem;
    text-align: center;
  }
}
