.bugItemSolved {
  margin: 2rem 0;
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
  border-bottom: 6px solid #ccccff;
  background-color: #b2d492;
}

.bugItemNotSolved {
  margin: 2rem 0;
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
  border-bottom: 6px solid #ccccff;
  background-color: #ea5b5b;
}

