.singleBug {
  background-color: #ccccff;
  color: #003d80;
  border-radius: 22px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
}

.singleBug p {
  font-size: 1.2rem;
  color: #003d80;
}

.singleBug h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #003d80;
}

