.solutionItem {
  margin: 2rem 0;
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
  border-bottom: 6px solid #ccccff;
}

.solutionItem p {
  font-size: 1.3rem;
}

.approveSolutionAction {
  display: flex;
  justify-content: flex-end;
}

.approveSolutionButton {
  font-size: 1.4rem;
}
