.solutionItem {
  margin: 2rem 0;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 6px solid #ccccff;
}

.link {
  color: #ccccff;
  background-color: #003d80;
  border-radius: 36px;
  padding: 0.5rem 2rem;
  padding-bottom: 0.5rem;
  margin: 20px;
  text-decoration: none;
  font-size: 1.9rem;
}

.link:visited {
  background-color: #92b6d5;
  color: #003d80;
}

h3 {
  color: #003d80;
  text-indent: 5%;
  font-size: 2.2rem;
}
