.solutionItem {
  margin: 2rem 0;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 6px solid #ccccff;
}

.solutionItem p {
  font-size: 1.7rem;
}

.solutionItem h3 {
  color: #003d80;
  text-indent: 5%;
  font-size: 2rem;
}

.approveSolutionAction {
  display: flex;
  justify-content: flex-end;
}

.approveSolutionButton {
  font-size: 1.8rem;
}
