.singlePractice {
  background-color: #ccccff;
  color: #003d80;
  border-radius: 22px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
}

.singlePractice p {
  font-size: 2rem;
  color: #003d80;
}

.singlePractice h3 {
  font-size: 2.2rem;
  text-align: center;
  color: #003d80;
}

.deleteButton,
.goBackButton {
  font-size: 1.7rem;
}

.deleteButton {
  float: right;
}
