.singlePractice {
  background-color: #ccccff;
  color: #003d80;
  border-radius: 22px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
}

.singlePractice p {
  font-size: 1.5rem;
  color: #003d80;
}

.deleteButton {
  float: right;
  font-size: 1.3rem;
}
