.notFoundPage {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundPage p {
  color: #ccccff;
  font-weight: 1000;
  font-size: 30px;

  text-align: center;
}

.notFoundPage .main-image {
  width: 100%;
  height: 60rem;
  z-index: 0;
  overflow: hidden;
}

.notFoundPage .main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.notFoundPage h1 {
  padding: 60px;
  text-align: center;
  background: #ccccff;
  color: white;
  font-size: 30px;
}
