.warningCommonErrors,
.errorCommonErrors {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.warningCommonErrors {
  text-align: center;
  font-size: 1.5rem;
  color: #9f6000;
  background-color: #feefb3;
  background-image: url("https://i.imgur.com/Z8q7ww7.png");
}
.errorCommonErrors {
  text-align: center;
  font-size: 1.5rem;
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url("https://i.imgur.com/GnyDvKN.png");
}

.linkCommonErrors {
  float: right;
  color: #ccccff;
  background-color: #003d80;
  border-radius: 36px;
  padding: 0.5rem 2rem;
  padding-bottom: 0.5rem;
  margin: 20px;
  text-decoration: none;
  font-size: 2rem;
}

.linkCommonErrors:visited {
  background-color: #92b6d5;
  color: #003d80;
}
