.auth h1 {
  text-align: center;
  color: #edf1ff;
  font-weight: bold;
  font-size: 1.36rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #edf1ff;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #edf1ff;
  color: #003d80;
  border-radius: 4px;
  border: 1px solid #ccccff;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authButton {
  font-size: 1.25rem;
}

.warningAuth,
.errorAuth {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.warningAuth {
  color: #9f6000;
  background-color: #feefb3;
  background-image: url("https://i.imgur.com/Z8q7ww7.png");
}
.errorAuth {
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url("https://i.imgur.com/GnyDvKN.png");
}
