.card {
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
  background-color: #63a4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}
