.spinner {
  margin-top: 100px;
  color: #003d80;
  text-align: center;
}

.spinner h3 {
  font: 2em;
  margin-bottom: 40px;
}

.loading {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 7px solid #EDF1FF;
  border-radius: 50%;
  border-top-color: #003d80;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
